:root{
    --body_font-family: "Sofia Sans", sans-serif;
    --heading-font-family: "Roboto", sans-serif;
    --primary-color:#ed254e;
    --secondary-color:#f38155 ;
    --accent1-color:#f6af59;
    --accent2-color:#c2eabd;
    --accen3-color: #011936;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body_font-family);
    color: var(--accen3-color);
}

h1{
    font-family: var(--heading-font-family);
}

header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
   
    
}

header img{
    width: 150px;
    margin: 10px 0 10px 10px;
}


.navi-links ul{
    display: flex;
    justify-content: space-around;
    

}

.navi-links ul li{
    list-style-type: none;
    background-color: #f2f8f1cc;
}


.section-1 h2 {
    text-align: center;
    margin-bottom: 35px;
}

.section-1 {
    display: flex;
    align-items: center;
}

.section-1 img{
    object-fit: cover;
    width: 300px;
    align-items: self-start;
    justify-content: center;
}

.section-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 70px;
    
}

.section-2 img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;

}

.section-2 h2{
    position: absolute;
    top: 1190px;
    left: 520px;
}  
/* 
header,main,footer {
    width: 840px;
    margin: 0 auto;
} */

h1,h2,h3 {
    font-family: var(--heading-font-family);
    color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
  }

h1 {
    position: absolute;
    background-color: var(--accent1-color);
    top: 30px;
    color: white;
    opacity: 0.8;
    text-align: center;
    width: 100%;
    padding: 16px;

}  

.hero article {
    position: absolute;
    width: 90%;
    top: 240px;
    left: 25px;
    background-color: var(--secondary-color);
    padding: 0;
    border-radius: 15px;
    opacity: 0.8;
    

}


.hero article img{
    float: right;
    width: 150px;
    margin-top: 10px;
    border: 1px solid blue;
    border-radius: 10px;
}

.hero h1 {
    text-shadow: 20px 2px 9px #000;
}

.foot {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px,1fr));
    align-items: center;
    padding-left: 450px;
    
}

.foot ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

.foot li{
    margin: 7px;
}

/* .socialmedia ul{
    display: flex;
    list-style-type: none;
    justify-content: end;
} *
 


