:root{
    --body_font-family: "Sofia Sans", sans-serif;
    --heading-font-family: "Roboto", sans-serif;
    --primary-color:#df8e9e;
    --secondary-color:#f38155 ;
    --accent1-color:#f6af59;
    --accent2-color:#89e07e;
    --accen3-color: #011936;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body_font-family);
    color: var(--accen3-color);
}

.heading{
    font-family: var(--heading-font-family);
}

/* -------------------header---------------- */
header{
    display: grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: var(--accent2-color);
    border: 2px solid black;
}

header,main,footer{
     margin: 7px;
}

.navi-links ul{
    display: flex;
    flex-flow: row wrap;
    font-size: 150%;
    /* justify-content: space-around; */
}

.navi-links ul li{
    list-style: none;
    display: inline-block;
    padding: 7px;
    margin: 5px;
}

.navi-links ul li a{
    text-decoration: none;
    background-color: white;
}

header img{
    width: 35%;
    margin: 10px 0 19px 25%;
    border: 2px solid black;
}

.h3 {
    text-align: center;
    position: relative;
    top: 29px;
    font-size: 25px;
    color: black;
}
.section-1 {
    display: grid;
    grid-template-columns:repeat(3,minmax(100px,1fr));
    /* grid-template-columns:  1fr 1fr 1fr; */
    align-items: center;
    border: 2px solid black;
    justify-content: center;
    padding-top: 25px;
}

.section-1 img{
    object-fit: cover;
    width: 90%;
    height: auto;
    justify-content: center;
}

.section-2 {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    border: 2px solid black;
    padding: 20px;   
    padding-top: 70px; 
}

.section-2 img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;

}

h2{
    text-align: center;
    position: relative;
    top: 55px;
    color: black;
}


/* 
header,main,footer {
    width: 840px;
    margin: 0 auto;
} */

/* h1,h3 {
    font-family: var(--heading-font-family);
    color: var(--primary-color);
} */

nav, p, section, article {
  margin: 0px;
  padding: 5px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    /* background-color: aqua; */
    border: 2px solid black;
    margin: 1px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
  }

.heading {
    position: absolute;
    /* background-color: var(--accent1-color); */
    top: 30px;
    color: white;
    opacity: 0.8;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-weight: 900;
    font-size: 37px;

}  

.hero article {
    position: absolute;
    top: 120px;
    left: 55px;
    right: 25px;
    /* background-color: var(--primary-color); */
    border-radius: 15px;
    opacity: 0.9;
    height: auto;
    font-weight: 700;
    color: white;
}



.hero article img{
    float: right;
    width: 17%;
    margin-top: 10px;
    border: 1px solid blue;
    border-radius: 10px;
}

.hero .heading{
    text-shadow: 20px 2px 9px #000;
}

.foot {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: hsl(120, 85%, 82%);
    border: 2px solid black;
    align-items: center;
    justify-content: center;
}



.foot ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    justify-content: space-around;
}

.foot li{
    width: 18%; 
    height: auto;

}

.foot img{
    width: 90%;

}

.foot .copyright{
    padding: 50px 70px 20px  10px;
    text-align: center;
    text-align: end;
    
}


/* ----------------------contact us------------------------- */
 
.flex-1{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 40px 20px 60px;
    /* background-color: rgba(66, 49, 85,0.7); */
}

.flex-1 img{
    width: 300px;
    height: auto;
    border-radius: 50%;
    margin: 10px;
    object-fit: contain;
    margin: 35px;
    transition: 0.5s;
}

/* .flex-1 img:hover{
    display: inline-block;
    width: 320px;
    height: auto;
    border-radius: 5%;
    transition: 0.5s;
    object-fit: cover;
} */


.sect_1 h2{
    font-size: 2.5em;
    padding: 20px 0;
    margin-bottom: 50px;
}

div figcaption{
    text-align: center;
}

.sect_2{
    display: grid;
    grid-template-columns:repeat(2,minmax(200px,1fr));
    gap: 10px;
    margin-top: 50px;
}

.sect_2 .contact-media{
    /* background-color: #f38155; */
    justify-items: center;
    padding: 20%;
    font-size: 20px;
    text-align: center;
}

.contact-media iframe{
    width: 100%;
    height: auto;
    background-color: #011936;
    margin: 20px 0 0 0;
    display: grid;
    min-height: 300px;
    min-width: 230px;
}
.section-1 .heading{
    position: absolute;
    top: 500px;

}
.sect_2 .contact-forms{
        /* background-color: rgb(196, 209, 221); */
        font-size: 1.1em;
        margin-bottom: 20px;
}

.contact-forms form .heading{
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    top: -0px;
    padding: 20px;
    color: rgb(15, 15, 238);
    background-color: white;
    font-size: 1.5em;
    font-family: 'Lucida Sans','Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heading_3 {
    text-align: center;
    margin: 70px 0 20px 0;
    color: rgb(22, 22, 173);
    font-size: 2.2em;
}

.contact-forms input[type="text"],input[type="email"]{
    padding: 10px;
    border-radius: 10px;
    display: grid;
    width: 55%;
    margin-left: 10px;

}

 
.contact-forms fieldset{
    margin-left: 20px;
    padding-left: 2%;
    /* display: grid;  */
}

.contact-forms input[type="radio"]{
    height: 20px;
    width: 20px;
    margin: 5px;
    margin-bottom: 20px;
}

.contact-forms button[type="submit"]{
    padding: 10px;
    width: 62%;
    margin: 25px 0 10px 70px;
    background-color: rgba(49, 80, 202, 0.9);
    color: white;  
    transition: 0.5s;
    /* border-radius: 30px; */

}

.contact-forms button[type="submit"]:hover{
    background-color:  rgba(170, 248, 170,0.9);
    color: black;
    font-size: 1.1em;
}

.contact-forms textarea{
    margin: 10px;
    width: 90%;
}

.contact-forms input[type="checkbox"]{

        padding: 300px;
        width: 20px;
        height: 20px;
}

/* =========================== */
.home-hero{
    width: 100%;
    height: auto;
}

.home-hero img{
    width: 100%;
    height: auto;
}

.home-h1{
    position: absolute;
    top: 250px;
    left: 120px;
    font-size: 2.1em;
    color: white;
    font-weight: 700;
}

.home-form-container {
    display: grid;
    /* flex-direction: wrap; */
    grid-template-columns: repeat(2,minmax(100px,1fr));
    margin: 20px 0;
}

.home-sign input{
    padding: 10px;
    margin: 0 30px;
    width: 70%;
    margin: 10px 0;

}

.home-sign button{
    background-color: #49d637;
    padding: 20px;
    width: 70%;
    color: black;
    font-size: 1.2em;
}

.home-sign legend{
    text-align: center;
    font-size: 1.5em;
}

.home-sign fieldset{
    width: 70%;
    padding: 20px;
    border: none;
    justify-self: center;
}

.call-to-action .trip{
    padding: 20px;
    background-color: #89e07e;
    max-width: 100%;
    margin-top: 25px;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
}

.call-to-action .trip:hover{
    background-color: #49d637;
   

}
.home-about{
    display: grid;
    grid-template-columns: repeat(1,minmax(100px,1fr));
    justify-content: center;
    align-items: center;
}

.home-about .home-about-gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.home-about-gallery div{
    width: 400px;
    height: 100%;
}

.home-about-gallery img{
    width: 100%;
    border-radius: 10px;
}

.home-about div figcaption{
    text-align: center;
    padding: 20px;
    background-color: #49d637;
    color: white;
    /* margin: 30px 0; */
    margin-bottom: 25px;
}

.home-about-content{
    background-color: #49d637;
    padding: 20px;
    font-size: 1.2em;
}

/* ==============================about-trips==================== */

.trip-main-container{
    display: flex;
    gap: 40px;
    flex-flow: row wrap;
    height: 90%;
    justify-content: space-around;
    padding: 20px;
}

.trip-contact{
    background-color: #e9e0e0;
    font-size: 1.3em;
    font-weight: 600;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    max-width: 400px;
}

.trip-contact p{
    padding: 10px;
    text-align: center;
    width: 100%;

}

.trip-contact a{
    background-color: #3ad825;
    display: inline-block;
    align-self: center;
    padding: 20px;
    border-radius: 10px;
    margin: 0 0 0 160px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.trip-table tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.trip-table {
    border: 1px solid black;
    align-self: center;
    justify-self: center;
   
}

.image-describe {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 20px;
    margin-top: 120px;
    
}

.image-describe div{
    width: 400px;
    justify-self: center;
}

.image-describe img{
    width:90%;
    border-radius: 10px;
}

section .trip-header{
    text-align: center;
    font-size: 1.8em;

}

.image-describe figcaption{
    background-color: #f3ecec;
    margin: 0 20px 170px 0;
    text-align: center;
    padding: 20px;
    width: 90%;
    font-size: 1.3em;
    font-weight: 500;
}
 
 .trip-main-header{
    text-align: center;
    font-size: 2.5em;
    margin: 30px 0 150px 0 ;
    font-weight: 500; */
    font-family: Arial, Helvetica, sans-serif;
}
